@{
    ViewData["Title"] = "Data data data";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is the where the user can visualize the data from the IoT device</p>


<iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiM2ZmOGQyYWYtNDJkMC00MDBjLTliYWYtYzYxYmE2ODAxYzYzIiwidCI6ImJiYTMyYWZlLWJkZDEtNGJiOC05ZGY5LTUxNDVlNDY5Y2ZiZSIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>

