@{
    ViewData["Title"] = "Drone Data Collected Data";
}
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="~/images/back.png" alt="">
                    <div class="intro-text">
                        <h1 class="name">Drone Data Collected Analytics</h1>
                        <hr class="star-light">
                        <span class="skills">Data collection and analytics using drones</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="jumbotron">
  <h1>About DDCA</h1>
  <p>DDCA has developed an unmanned drone solution, the first of its kind in the global market.
We provides an end-to-end, fully automatic solution for collecting aerial data and gaining invaluable insights. The industrial grade platform is available on-site and on-demand, enabling industrial facilities to access premium aerial data in a faster, safer, more efficient way.
The team at DDCA fuses expertise in aerospace hardware design, robust electronic systems, leading software engineering, and years of experience in commercial drone operations. This varied experience has allowed them to design a solution suited to address the needs of the world’s most complex industrial environments.
</p>
  <p>
      <a class="btn btn-primary btn-lg text-center" href="#" role="button">Learn more</a></p>
</div>
<div class="row text-justify">
    <div class="col-md-3">
        <h2>PRECISION AGRICULTURE</h2>
        <p>
            Enhance your crop monitoring process with DDCA to capture high resolution images of your fields. Analyse post-image captures with our application to identify areas of crop need and yield.
        </p>
    </div>
    <div class="col-md-3">
        <h2>SECURITY AND RAPID RESPONSE</h2>
        <p>
            DDCA is particularly suitable for security applications, rapid response missions, enabling support for asset monitoring  and patrol, with the ability to transmit real-time data to the users.
        </p>
    </div>  
    <div class="col-md-3">
        <h2>OIL AND GAS</h2>
        <p>
            Oil & Gas facilities require frequent inspection and maintenance routines. Yo ensure safety of the personnel, DDDCA eliminates risks of hard-to-reach areas by automating the data collection.
        </p>
    </div>
    <div class="col-md-3">
        <h2>ASSET INSPECTION</h2>
        <p>
            DDCA provides an eye-in-the sky view of valuable assets by providing high-resolution imagery for analysis. The drone can be fitted with thermal imaging sensors for identifying leaks or cracks.
        </p>
    </div>
</div>